go 1.20

use (
	.
	./01hello
	./02variables
	./03userinput
	./04conversion
	./05mymaths
	./06mytime
	./07mypointers
	./08myArray
	./09mySlices
	./11myStructs
	./12.ifelse
	./13SwitchCase
	./14.Loops
	./15myFunctions
	./16myMethods
	./17defer
	./18files
	./19WebRequests
	./20urls
)
